*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.grid {
    width: 80vw;
}

:root {
    --preto: #000000;
    --cinza: #909090;
    --azul:#2686CC;
    --fundo1: #FFFFFF;
    --fundo2: #E5E5E5;
}