<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstaDev</title>
    <link rel="stylesheet" href="~/css/Base.css">
    <link rel="stylesheet" href="~/css/EdicaoPerfil.css.css">
    <link rel=" stylesheet" href="~/css/Feed.css">
    <link rel=" stylesheet" href="~/css/pagPerfil.css.css">
    <script src="https://kit.fontawesome.com/8072771ef9.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container container_header">
            <img class="logo_site" src="../Imagens/Instadev.svg">

            <input type="text" id="txtBusca" placeholder="Pesquisar" />

            <nav class="menu_header">
                <li><i class="fas fa-home"></i></li>
                <li><i class="far fa-paper-plane"></i></li>
                <li><i class="far fa-compass"></i></li>
                <li><i class="far fa-heart"></i></li>
                <a class="FotoPerfil" href="#perfil"><img src="../Imagens/Jeeves menor.png"></a>
            </nav>

        </div>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer grid letter">
        <span>Copyright © 2021 - Escola Senai de Informática</span>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
