*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagLogin{
    margin-top: 50px;
}

body{
    background-color: #E5E5E5;
    height: 100%;
    
}
.container{
    width: 340px;
    margin: auto;
    height: 100%;    
}
.bloco_principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    height: auto;
    border: 1px solid #F1F1F1;
}

.bloco_principal a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #2686CC;
}

.bloco_principal span{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-left: 35px;
    margin-right: 35px;
    color: #909090;

}

.Logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Logo span{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #909090;

}

.LogoInstadev{
    width: 170px;
    margin-top: 30px;
    /* margin-bottom: 20px; */
    margin-right: 0;
    margin-left: 0;
}

.informacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

input{
    width: 280px;
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid #DCDCDC;
    border-radius: 2px;
}

::-webkit-input-placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #AFAFAF;
    font-size: 11px;
}

.CoisoJurisdico{
    margin-top: 17px;
    margin-bottom: 46px;
}

button{
    margin-top: 10px;
    width: 280px;
    height: 35px;
    background: #2686CC;
    border-radius: 2px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
}



.ou {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    /* background-color: aqua; */
}

hr{
    color: #CBCBCB;
    /* border: 1px solid #CBCBCB; */
}

div{
    width: 80%;
}

a{
    margin-top: 30px;
    margin-bottom: 30px;
}

.logar{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #F4F4F4;
    height: 65px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: #353535;
}

.conectar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #2686CC;

}

.obtenha{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.obtenha span{
    margin-top: 20px;
    margin-bottom: 20px;
}

.Baixar{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 130px;
    margin-left: 5px;
    margin-right: 5px;
}