* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --preto: #000000;
    --preto2: #353535;
    --fonteCinza: #909090;
    --escolhaIMG: #D1D1D1;
    --backSearch: #DCDCDC;
    --background: #FAFAFA;
    --lilas: #8134AF;
    --roxo: #515BD4;
    --azul: #2686CC;
    --rosa: #DD2A7B;
    --laranja: #F58529;
    --amarelo: #FEDA77;
}

.background {
    background-color: #909090;
}

main {
    background-color: #FAFAFA;
}

input {
    width: 354px;
    height: 30px;
    border: 1px solid #DCDCDC;
    border-radius: 2px;
    align-items: stretch;
}

.editar-perfil {
    background: #FFFFFF;
    display: flex;
    margin-top: 25px;
    margin-left: 45px;
}

.bloquinho {
    width: 233px;
    background-color: white;
    display: flex;
    border: solid 1px #f1f1f1;
}

.bloquinho h2 {
    margin-top: 20px;
    font-size: 15px;
}

.linha-preta {
    height: 60px;
    width: 0px;
    border: 2px solid black;
    margin-right: 20px;
}

.blocao {
    width: 702px;
    background-color: white;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
}

.blocao h2 {
    width: 150px;
    text-align: right;
}

.perfil {
    display: flex;
    width: 935px;
    margin: 0 auto;
}

.perfil img {
    width: 50px;
    height: 50px;
    background: url(Jeeves-redondo.png);
    border-radius: 100px;
    margin-top: 5px;
    margin-left: 60px;
}

.nickname {
    /* width: 209px;
    height: 24px; */
    font-weight: 600;
    font-size: 18px;
    margin-top: 5px;
    margin-left: 30px;
}

.nickname a {
    /* width: 209px;
    height: 19px; */
    font-weight: 600;
    font-size: 14px;
    color: var(--azul);
}

.info-nome,
.info-nome-user {
    display: flex;
}

.info-nome {
    margin-top: 23px;
    /* margin-left: 70px; */
}

.info-nome h2 {
    /* width: 48px;
    height: 19px; */
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-top: 5px;
}

.info-nome p {
    /* width: 354px;
    height: 48px; */
    font-size: 12px;
    color: #909090;
}

.espaco-nome p {
    /* width: 215px;
    height: 17px; */
    font-size: 13px;
}

.espaco-nome input {
    /* width: 354px;
    height: 30px; */
    margin-bottom: 12px;
}

.info-nome-user {
    margin-top: 38px;
    /* margin-left: 70px; */
}

.info-nome-user h2 {
    /* width: 118px;
    height: 19px; */
    font-size: 14px;
    margin-top: 5px;
}

.info-nome-user p {
    /* width: 354px;
    height: 32px; */
    font-size: 12px;
    color: #909090;
}

.espaco-nome-user {
    /* width: 354px;
    height: 30px; */
    border-radius: 2px;
}

.espaco-nome-user p {
    /* width: 215px;
    height: 17px; */
    font-size: 13px;
}

.espaco-nome-user input {
    /* width: 354px;
    height: 30px; */
    margin-bottom: 12px;
}

.info-email {
    display: flex;
    align-items: flex-end;
}

.info-email h2 {
    /* width: 45px;
    height: 19px; */
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}

.info-email p {
    /* width: 354px;
    height: 64px; */
    font-weight: 600;
    font-size: 12px;
    color: #909090;
    margin-top: 28px;
}

.espaco-email p {
    /* width: 215px;
    height: 17px; */
    font-size: 13px;
}

.espaco-email input {
    /* width: 354px;
    height: 30px; */
    margin-top: 17px;
}

.btn-enviar {
    width: 66px;
    height: 30px;
    background: var(--azul);
    border-radius: 2px;
    margin-top: 20px;
}

.btn-excluir a {
    /* width: 354px;
    height: 16px; */
    font-weight: 600;
    font-size: 12px;
    color: var(--azul);
    margin-bottom: 20px;
}

.btn-excluir {
    display: flex;
    width: 354px;
    justify-content: space-between;
    margin-left: 170px;
    margin-top: 20px;
}

.alinhamento {
    margin-left: 20px;
    width: 354px;
}