
@{
    ViewData["Title"] = "Perfil";
}

<main>
    <section class="box_perfil">
        <div class="container_perfil">
            <img class="imgPerfil" src="../Imagens/mcpoze.jpg" alt="" />
            <div class="infoPerfil">
                <span class="nome">@ViewBag.Usuario.UserName</span>
                @* <span class="nome">poze_rodo</span> *@

                <div class="infos_Perfil">

                    <span class="txt_Infos"> 0 publicações </span>
                    <span class="txt_Infos">128 seguindo </span>
                    <span class="txt_Infos">241 seguidores</span>

                </div>

                <div class="Nome_Sair">
                    <span class="Nome_Perfil">@ViewBag.Usuario.UserName</span>
                    <a asp-area="" asp-controller="EditarPerfil" asp-action="Index">Editar Perfil</a>
                    <a asp-area="" asp-controller="Login" asp-action="Logout">Sair</a>
                </div>

            </div>
        </div>
    </section>

    <hr class="SecondLine" size="1" width="49%">

    <div class="publicacoes">
        <img class="publicacao" src="../Imagens/Publicacoes.png" alt="">
        <span>Publicações</span>
    </div>

    <section class="container_post">
        <img class="foto_post" src="../Imagens/framengo.jpeg" alt="poze">
        <div class="comentarios">
            <div class="box_fotoInfo">
                <img class=imgPerfil_menor src="../Imagens/mcpoze.jpg" alt="">
                <div class="box_perfil_comentarios">
                    <span class="Nome_Perfil">@ViewBag.Usuario.UserName</span>
                    <span>Rio de Janeiro, Brasil</span>
                </div>
            </div>
            <div class="curtidas_coments">
                <div class="coracao_coment">
                    <img class="curtir" src="../Imagens/Simbolo coração.png" alt="">
                    <li><i class="far fa-comment"></i></li>
                </div>
                <div class="msg">
                    <span>1954 curtidas</span>
                </div>
            </div>
            <div class="Comentarios_">
                <div>
                    <div class="conteudo_coments">
                        <div class= "divDaAnny">

                            <div>
                                <span class="ComentNegritoFausto">fausto_silva</span>
                            </div>

                            <div class="conteudoDoComent">
                                <span class="SpanComent">Esse cara é fera bixo!!!</span>
                            </div>

                        </div>
                        <img class="coracao" src="../Imagens/Simbolo coração.png" alt="">

                    </div>
                    <div class="conteudo_coments">
                        <div class= "divDaAnny">

                            <div>
                                <span class="ComentNegritoFausto">yes_baby</span>
                            </div>

                            <div class="conteudoDoComent">
                                <span class="SpanComent">thank you</span>
                            </div>

                        </div>
                        <img class="coracao" src="../Imagens/Simbolo coração.png" alt="">

                    </div>
                    <div class="conteudo_coments">
                        <div class= "divDaAnny">

                            <div>
                                <span class="ComentNegritoFausto">adriano_stark</span>
                            </div>

                            <div class="conteudoDoComent">
                                <span class="SpanComent">Quando eu adormecer, vou sonhar com você. É sempre</span>
                            </div>

                        </div>
                        <img class="coracao" src="../Imagens/Simbolo coração.png" alt="">

                    </div>
                    <div class="conteudo_coments">
                        <div class= "divDaAnny">

                            <div>
                                <span class="ComentNegritoFausto">yes_baby</span>
                            </div>

                            <div class="conteudoDoComent">
                                <span class="SpanComent">Yes baby!!</span>
                            </div>

                        </div>
                        <img class="coracao" src="../Imagens/Simbolo coração.png" alt="">

                    </div>
                   
                 
                </div>
               
            </div>
            <div class="comentario">
                <span class="VerComents">Ver todos os 585 comentários</span>
               
            </div>
        </div>
    </section>

</main>